:root {
  --dark-sky-blue: #548dE1;
  --white: #FFF;
  --black: #000;
  --trinidad-red: #EA4600;
  --dusty-gray: #9A9A9A;
  --mercury-gray: #E5E5E5;
  --boulder-gray: #747474;
  --mine-shaft-gray: #333;
  --greyish-brown: #444;
}